.indicator_box{
    position: absolute;
    left: 254px
    
}

@media(orientation: portrait) {
    @media(max-width: 700px) {
        .indicator_box {
            rotate: 90deg;
            left: auto;
            top: 228px;
        }
    }

    @media(max-width: 360px) {
        .indicator_box {
            top: 195px;
        }
    }
}

@media(orientation: landscape) {
    @media(max-height: 360px) {
        .indicator_box {
            left: 220px;
        }
    }
} 
// @media(max-width: 740px) {
//     // .indicator_box{
//     //     left: auto;
//     //     top: 228px;
//     //     transform: rotate(90deg);
//     // }

//     @media(max-height: 360px) {
//         .indicator_box { 
//             left: 221px;
//         }
//     }
// }