.ship{
    position: absolute;
    border: 2px solid;
    background-color:  transparent;
    height: 25px;
    z-index: 2;
    &_1{
        width: 25px;
    }
    &_2{
        width: 50px;
    }
    &_3{
        width: 75px;
    }
    &_4{
        width: 100px;
    }
}