.box{
    padding: 0 25px;
}

.header{
    position: relative;
}

.battlefield{
    position: absolute;
    top: 148px;
    left: 72px;
    display: flex;
}

.message{
    font-size: 26px;
    position: absolute;
    left: 249px;
    top: 52px;
}