@mixin size($w, $h) {
	width: $w;
	height: $h;
}

.board {
	display: flex;
	flex-wrap: wrap;
	@include size(254px, 254px);
	border: 2px solid #3355aa;
	padding: 0 0 1px;
}

.row {
	display: flex;
	@include size(100%, 10%);
}

.marker {
	font-size: 32px;
	font-weight: 400;
	text-align: center;
	position: absolute;
	@include size(100%, 100%);
	&_col {
		top: -29px;
		left: 0;
	}
	&_row {
		top: 0;
		left: -27px;
		line-height: 28px;
	}
}

@media (max-width: 1000px) {
	@media (max-height: 500px) {
		.marker {
			font-size: 26px;
			&_col {
				top: -22px;
			}
			&_row {
				left: -24px;
				line-height: 33px;
			}
		}
	}

	@media (max-height: 360px) {
		.board {
			@include size(222px, 222px);
		}
	}
}

@media (max-width: 740px) {
	@media (max-height: 360px) {
		.board {
			@include size(224px, 224px);
		}
	}
}

@media (orientation: portrait) {
	@media (max-width: 410px) {
		.marker {
			font-size: 26px;
			&_col {
				top: -22px;
			}
			&_row {
				left: -22px;
				line-height: 33px;
			}
		}
	}

	@media (max-width: 360px) {
		.board {
			@include size(224px, 224px);
			padding: 0;
		}
	}
}
