@mixin size($w, $h) {
	width: $w;
	height: $h;
}

@mixin position($l, $t) {
	left: $l;
	top: $t;
}

@mixin max_height-360 {
	@media (max-height: 360px) {
		.place_ships {
			@include position(31px, 64px);
		}
		.port_box {
			@include size(224px, 224px);
			margin-left: 63px;
		}
	}
}

.box {
	padding: 0 25px;
}

.header {
	position: relative;
}

.place_ships {
	position: absolute;
	@include position(73px, 148px);
	display: flex;
}

.port_box {
	@include size(254px, 254px);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-left: 71px;
	position: relative;
}

.btn_box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	@include size(inherit, 20%);
	position: absolute;
	bottom: 0;
	left: 0;
}

@media (max-width: 1000px) {
	.place_ships {
		top: 123px;
	}
	@media (max-height: 500px) {
		.place_ships {
			@include position(48px, 73px);
		}
	}
	@include max_height-360;
}

@media (max-width: 740px) {
	.place_ships {
		left: 48px;
	}
	@include max_height-360;
}

@media (orientation: portrait) {
	@media (max-width: 700px) {
		.place_ships {
			top: 47px;
			flex-direction: column;
		}

		.port_box {
			margin-left: 0;
			margin-top: 22px;
		}

		.btn_box {
			height: 30%;
		}
	}

	@media (max-width: 410px) {
		.place_ships {
			left: 22px;
		}
		// .port_box{
		//     margin-top: 19px;
		// }
	}

	@media (max-width: 360px) {
		.place_ships {
			top: 29px;
			left: 20px;
		}

		.port_box {
			width: 224px;
			height: 224px;
			margin-top: 19px;
		}
	}
}
